

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputSubmit{
    width: 100px
}

#container{
    background-color:rgb(124, 139, 165);
    border-radius: 20px;
    margin-top: 150px;
    align-items: center;
    border-style: solid;
    padding: 50px
}